body{
    margin:0px;
    background:url('/loginimage.jpg') no-repeat center center/cover;
    width:100%;
	height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.radio{
    padding: 30px;
    background-color: white;
    border-radius: 20px;
    font-size: large;
}
.radio input[type="radio"]{
    font-size: 26px;
    margin: 20px;
}
.container{
    display: flex;
    flex-direction: column;
    background-color: rgb(62, 59, 59);
    padding: 60px;
    border-radius: 12px;
}
.container p{
    font-weight: bold;
    font-size: 24px;
    color: white;
}

/* stakeholder signup styling */

