/* General Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.formdiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 50px 30px;
    background-color: #fff;
    overflow: hidden;
    margin: 5px;
}
#icon{
    width: 30px;
    cursor: pointer;
    position: absolute;
    top: 30px; 
    right: 30px;
  }

  :root{
    --primary-color: #fff;
    --secondary-color: #0e0e0e;
  }
  
  .dark-theme{
    --primary-color: #0e0e0e;
    --secondary-color: #fff;
  }

body {
    font-family: Arial, sans-serif;
<<<<<<< HEAD
    background-color: #4d56f7;
=======
    background-color: #5c63f3;
>>>>>>> 3674aecc1d3eb525f482bbdae4d5cd60dcc2321e
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.maindiv {
    display: flex;
    background-color: var(--primary-color);
    height: 80%;
    max-width: 1200px;
    width: 100%;
    border-radius: 15px;
    overflow: hidden;
    flex-direction: row; /* Layout as row by default */
}

.imgdiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: black;
    padding: 20px;
}

.formdiv{
    background-color: var(--primary-color);
}

form h2{
    color: var(--secondary-color);
}

form input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid var(--secondary-color);
    border-radius: 8px;
    font-size: 16px;
    transition: border-color 0.4s;
}

form label {
    font-size: 16px;
    color: var(--secondary-color);
    display: block;
}

#message {
    border: 1px solid var(--secondary-color);
    border-radius: 8px;
}

.button {
    margin-top: 15px;
    width: 100%;
    padding: 10px;
    background: linear-gradient(45deg, #4e54c8, #787de0);
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition:  0.4s ease;
}

/* Media Query for Smaller Screens */
@media screen and (max-width: 1100px) {
    .maindiv {
        flex-direction: column; /* Stack image and form vertically */
        height: auto;
    }

    .imgdiv {
        width: 100%; /* Image takes full width */
        height: auto;
    }

    .formdiv {
        width: 100%; /* Form takes full width */
        padding: 20px;
    }

    form input, 
    form textarea {
        font-size: 14px; /* Adjust input font size for smaller screens */
    }

    .button {
        font-size: 18px; /* Adjust button font size */
    }
}

/* Media Query for Very Small Screens (e.g., phones) */
@media screen and (max-width: 480px) {
    form input,
    form textarea {
        padding: 10px;
        font-size: 12px;
    }

    .button {
        padding: 8px;
        font-size: 16px;
    }
}

