* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.formdiv {
    width: 50%;
    padding: 50px 30px;
    background-color: #fff;
}

body {
    font-family: Arial, sans-serif;
    background-color: #4e54c8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.maindiv {
    display: flex;
    background-color: white;
    height: 80%;
    max-width: 1200px;
    width: 100%;
    border-radius: 15px;
    overflow: hidden;
}

.imgdiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 450px;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    background-color: black;
}

form input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    transition: border-color 0.3s;
}

form label {

    font-size: 16px;
    color: #666;
    display: block;

}

#message {
    border: 1px solid #ddd;
    border-radius: 8px;
}

.button {
    margin-top: 15px;
    width: 100%;
    padding: 10px;
    background: linear-gradient(45deg, #4e54c8, #8f94fb);
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.4s;
}