.detail {
    padding: 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 22px;
    background-color: #eae5e5;
}

.detail p {
    margin: 0;
    padding: 8px;
    word-wrap: break-word;
}

.containers {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    color: black;
    padding: 6px;
}

.boxes {
    padding: 14px;
    margin: 4px;
    text-align: center;
    font-size: 18px;
    border-radius: 24px;
}

.boxes img {
    width: 100px;
    border-radius: 50%;
}

.boxes h4 {
    font-size: 28px;
    margin: 0;
    padding: 12px 5px 14px 5px;
}

#box1 {
    background-color: #d6a448;
}

#box2 {
    background-color: #2e602e;
}

#box3 {
    background-color: #535390;
}

ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    margin: 4px;
}

h3 {
    color: black;
    margin: 0;
    padding: 10px;
    font-size: 26px;
}

h4 {
    margin: 0;
    padding: 10px 6px 16px 6px;
}
.papers a{
    margin: 10px;
    font-weight: bold;
    display: block;
}
.papers {
    text-align: center;
}

.papers button {
    width: 100%;
    padding: 9px 26px;
    margin: 8px;
    background-color: rgb(6, 104, 252);
    color: white;
    border-radius: 10px;
    font-size: 18px;
    border: none;
    transition: all 0.7s ease-in-out;
    cursor: pointer;
}

button:hover {
<<<<<<< HEAD
    background-color: rgb(25, 121, 156);
=======
    background-color: rgb(18, 120, 158);
>>>>>>> 3674aecc1d3eb525f482bbdae4d5cd60dcc2321e
}

.papers ul li {
    background-color: white;
    font-size: 20px;
    border-radius: 16px;
    margin: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
    border-top: 1.6px solid black;
}
.container{
    background-color: white;
    height: 80vh;
    overflow: auto;
    border-radius: 20px;
    z-index: 2;
    position: absolute;
    border: 2px solid black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    background-color: rgb(242, 239, 239);
    display: none;
}
.container p{
    font-size: 18px;
    padding: 8px 8px 16px 14px;
    margin: 0;
}
.container h4{
    font-size: 22px;
    padding: 26px 8px 14px 12px;
}
.container input{
    font-size: 17px;
}
.container label{
    font-weight: bold;
    padding: 40px;
    font-size: 18px;
}
.container::-webkit-scrollbar {
    width: 10px;
}

.container::-webkit-scrollbar-thumb {
    background-color: #a7a4a4;
    border-radius: 10px;
}

.container::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}
.buttons{
    margin: 10px;
    float: right;
}
.buttons button{
    padding: 9px 14px;
    margin: 6px;
    font-size: 17px;
    border-radius: 8px;
    cursor: pointer;
}
#submit{
    background-color: rgb(9, 142, 244);
    color: white;
    border: none;
    transition: all 0.8s ease-in-out;
}
#cancel{
    background-color: rgb(225, 221, 221);
    border: none;
    transition: all 0.8s ease-in-out;
}
#submit:hover{
    background-color: rgb(12, 119, 201);
}
#cancel:hover{
    background-color: rgb(207, 200, 200);
}
#result1 {
    margin: 0;
    padding: 12px;
    background-color: rgb(7, 184, 7);
    color: white;
    font-size: 24px;
    text-align: center;
    display: none;
    position: fixed;
 }
 #result2 {
    position: fixed;
    margin: 0;
    padding: 12px;
    background-color: rgb(248, 8, 8);
    color: white;
    font-size: 24px;
    text-align: center;
    display: none;
 }