* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  background-color: black;
  width: 50vw;
  height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.register{
  text-align: center;
  margin: 15px;
  font-size: 17px;
}
.register a{
  color: blue;
}
a{
  font-size: 16px;
  margin: 0px 0px 12px 6px;
  color: red;
}
.form {
  flex: 1;
}

form {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 50%;
  box-shadow: 6px 6px 6px rgb(113, 113, 113), -4px -4px 6px rgb(113, 113, 113);
  padding: 20px;
  font-size: 19px;
  border-radius: 20px;
}

form input {
  padding: 8px;
  margin: 8px;
  font-size: 17px;
  border-radius: 4px;
}

button {
  background-color: #0a87ee;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  padding: 9px 0px;
  color: white;
}
img{
  width: 80%;
}
#box1{
  width: 50vw;
  padding: 24px 10px;
  border: 2px solid black;
  border-radius: 32px;
  background-color: rgb(255 255 255);
  text-align: center;
  font-size: 25px;
  display: none;
  z-index: 2;
  position: absolute;
  top: 40%;
  left: 25%;
  margin: auto;
}
#box2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 6px;
  text-align: center;
  font-size: 20px;
  display: none;
  color: white;
  background-color: rgb(240, 84, 84);
}

#box3 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 6px;
  text-align: center;
  font-size: 20px;
  display: none;
  color: white;
  background-color: rgb(240, 84, 84);
}
#box4 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 6px;
  text-align: center;
  font-size: 20px;
  display: none;
  color: white;
  background-color: rgb(240, 84, 84);
}
