body {
    margin: 0;
    padding: 0;
    background-color: #eeeded;
}

* {
    box-sizing: border-box;
}

section h2 {
    text-align: center;
    font-size: 46px;
    margin: 0;
    padding: 30px 0px;
}

.form {
    width: 40vw;
    font-size: 20px;
}

.form p {
    padding: 18px 0px;
    word-wrap: break-word;
    margin: 8px 0px;
}

.form label {
    padding: 0px 20px 0px 0px;
    font-size: 22px;
}

.form input[type="file"] {
    padding: 10px;
}

.first-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}
.form-group button {
    padding: 12px 24px;
    background-color: rgb(153 153 210);
    border: 1.8px solid rgb(61, 61, 68);
    font-size: 20px;
    cursor: pointer;
    border-radius: 8px;
    transition: all 600ms ease-in-out;
}
.form-group button:hover{
    background-color: rgb(181, 181, 239);
    color: black;
}

.img {
    width: 68vh;
}

.img img {
    width: 100%;
    border-radius: 20px;
}

section {
    background-color: rgb(204 204 244);
}

input[type="file"]::file-selector-button {
    border-radius: 4px;
    padding: 4px 18px;
    height: 40px;
    cursor: pointer;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.16);
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
    margin-right: 16px;
    transition: background-color 200ms;
    font-size: 18px;
    border: 1.8px solid black;
    border-radius: 8px;
}

input[type="file"]::file-selector-button:hover {
    background-color: #f0f3fb;
}

input[type="file"]::file-selector-button:active {
    background-color: #e5e7eb;
}
div h2{
    text-align: center;
    font-size: 40px;
}

/* uploaded files styling  */

.uploaded-files ul{
    list-style: none;
    margin: auto;
    width: 80vw;
}
.uploaded-files ul li{
    margin: 10px;
    border: 2px solid black;
    padding: 10px;
    background-color: rgb(242, 233, 233);
    border-radius: 8px;
    
}
.uploaded-files button{
    padding: 7px 4px 7px 10px;
    font-size: 17px;
}
button{
    padding: 12px 40px;
    border-radius: 10px;
    font-size: 20px;
    margin: 20px auto;
    color: white;
    background-color: rgb(212, 57, 57);
    border: none;
    display: block;
}
#uploadedFilesContainer button:hover{
    outline: 2px solid red;
    outline-offset: 2px;
    cursor: pointer;
}
#uploadedFilesContainer ul{
    list-style: none;
    margin: 6px;
    margin: auto;
    display: block;
    padding: 0px;
}
#uploadedFilesContainer ul li{
    margin: 8px;
    padding: 20px;
    background-color: rgb(164, 164, 232);
    border-radius: 10px;
    font-size: 18px;
}